:root {

  --background-color: #4169E1FF;

  --font-main: Abhaya Libre, sans-serif; // ???


  --text-color: #6ebeee;
  --text-muted: #909090;
  --accent: #216ad7;

  --laptop-size: 1199px;
  --tablet-size: 959px;
  --mobile-size: 599px;


}
