<div class="nigger">
  <div class="form-wrapper">

    <div class="form-registration">
      <h2>{{ registerTitle }}</h2>

      <div class="form_input_container">


        <!--использовать PrimeNg для инпутов и хорошей формы-->



      </div>

    </div>

    <div class="form-signup">
      <h2>{{ loginTitle }}</h2>

      <div class="form_input_container">


        <!--использовать PrimeNg для инпутов и хорошей формы-->



      </div>

    </div>

  </div>
</div>
<footer class="footer">
  <div class="buy_me_a_coffee">
    Buy me a coffee (button)
  </div>
</footer>
