* {}
.nigger {
  background-color: var(--background-color);
  display: grid;
  align-items: center;
  justify-content: center;

}
.form-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 860px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--accent);
  color: var(--text-color);
  border-radius: 50px ;
  box-shadow: 0px 70px 115px rgba(0, 0, 0, 0.3);
  height: 500px;
}
u {
  margin-bottom: 5px;
}
h2 {
  text-align: center;
  color: var(--text-main);
}
.form-registration {
  padding: 20px;
}
.form-signup {
  padding: 20px;
}
.footer {
  height: 164px;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.buy_me_a_coffee {
  background-color: #cccccc;
  height: 50px;
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 700px 115px rgba(0, 0, 0, 0.3);
}
.form_input_container {
  padding: 70px;
}
input {
  margin-top: 5px;
}
label {
  color: var(--text-main);
  font-size: 20px;
  padding: 10px;
  margin-bottom: 10px;
}
small {
  font-size: 17px;
  font-weight: bold;
  color: var(--text-danger);
}
.small-container {
  position: absolute;
  margin-top: 12px;
}
.container {
  position: relative;
  margin-bottom: 40px;
}
.button_container {
  margin-top: 80px;
}
