

.header {
  height: 300px;
  background-color: royalblue;
  color: var(--text-color);

  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 250px;
  height: 250px;
  background-color: #333ac6;
  display: flex;
  align-items: center;
  justify-content: center;
}
