.app-container {


  .form-wrapper {
    background-color: var(--light-bgc);
    border-radius: 50px;
    box-shadow: 0px 30px 20px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    padding: 50px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    max-width: 400px; /* Максимальная ширина формы */
    width: 100%;
    box-sizing: border-box; /* Делает padding частью ширины */
  }


  .form-registration {
    text-align: center;

    .pi, pi-lock {
      color: #242424;
    }

    h2 {
      font-size: 24px;
      margin-bottom: 20px;
      color: var(--text-main);
    }

    .form_input_container {
      .card {
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
      }

      label {
        display: block;
        font-weight: bold;
        color: var(--text-main);
        margin-bottom: 5px;
      }

      input {
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 20px;
      }

      .validation {
        color: var(--text-danger);
        font-size: 18px;
        font-weight: bold;
      }

      .button_container {
        margin-top: 20px;

      }
    }
  }
}
